* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-size: cover;
  background-position: center;
  background-color: #500000;
  color: white;
  padding: 3rem 1rem;
  text-align: center;
}

.header-bg-tamu {
  background-image: url('images/tamu_background.jpg');
  color: black;
}

.header-bg-mountain {
  background-image: url('images/background1.jpg');
}

header .btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.7rem 1.5rem;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.btn-white {
  background: black;
  color: white;
  border: 1px solid #ccc;
}

.btn-maroon {
  background: #500000;
  color: white;
  border: 1px solid #ccc;
}

.btn-blue-black {
  background: #000080;
  color: white;
  border: 1px solid #ccc;
}

section {
  max-width: 900px;
  margin: 2rem auto;
  padding: 0 1rem;
}

h2 {
  margin-bottom: 1rem;
  color: #1f2933;
}

h2 i {
  color: #500000; /* TAMU maroon */
  margin-right: 0.5rem;
}


ul {
  list-style: square;
  margin-left: 1.5rem;
}

.project {
  background: white;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
}

#contact a {
  color: #3b82f6;
  text-decoration: none;
}

/* ===== CAROUSEL ===== */

.carousel {
  position: relative;
  max-width: 700px;
  margin: 2rem auto;
  overflow: hidden;
}

.carousel-track {
  display: flex;
  width: 100%;
  transition: transform 0.4s ease-in-out;
}

.carousel-card {
  flex: 0 0 100%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 140px;
  padding: 1.5rem;

  font-size: 1.1rem;
  font-weight: 500;

  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}



.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #500000;
  color: white;
  border: none;
  padding: 0.5rem 0.75rem;
  cursor: pointer;
  border-radius: 50%;
}

.carousel-btn.prev {
  left: 10px;
}

.carousel-btn.next {
  right: 10px;
}

.carousel-dots {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 1rem;
}

.carousel-dot {
  width: 8px;
  height: 8px;
  background: #777;
  border-radius: 50%;
  cursor: pointer;
}

.carousel-dot.active {
  background: white;
}

footer {
  text-align: center;
  padding: 1rem;
  background: #1f2933;
  color: white;
  margin-top: 2rem;
}

.image-container {
  display: flex;
  gap: 1rem;
  overflow: hidden;
  border-radius: 8px;
  margin: 0.75rem 0;
  max-width: 100%;
}

.image-container img {
  flex: 1;
  border-radius: 6px;
  object-fit: contain;
  max-height: 300px;
}

.image-container img:hover {
  transform: scale(1.05);
}


